/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#MainScreen
{
	-fx-background-color: white;
	-fx-background-image: url("texture.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100.0% 100.0%;
    -fx-background-position: center center;
}

.circle{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 25.0,0.0,0.0,1.0 ); 
}

.circle:pressed{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 10.0,0.0,0.0,1.0 ); 
}


.arc {
	-fx-stroke: aqua; 
}

